.get-yours {
	background-repeat: no-repeat;
	background-position: 40% 0;
	height: 880px;
	&__title{
		font-size: 7em !important;
		padding-top: 300px;
	}
	& .footer{
		height: 100px;
		&__text {
		line-height: 100px;
		}
		&__icon {
			margin: 5px;
			vertical-align: middle;
		}	
	}
}

/*For screens between 320px and 768px*/
@media screen and (min-width: 320px) and  (max-width: 767px) {
	.get-yours{
		&__title {
			padding-top: 200px;
			max-width: 250px;
			margin: auto;
		}
	}
}