
.header{
	height: 943px;
	background-image: url('/images/header.png');
	background-position: 40% 0;
	&>i {
		font-size: 2.2em;
	    right: 25px;
	    top: 30px;
	}
	&>h1{
		padding-top: 290px;
		font-size: 9em !important;
	}
	&>h2{
		line-height: 200px;
		font-size: 24em;
	}
}

nav{
	left: calc(100%);
	z-index: 100;
	& i {
		left: calc(100% - 50px);
		font-size: 2.3em;
	    top: 30px !important;
	}
	& ul {
		list-style: none;
		margin-top: 200px !important;
		&>li{
			margin: 50px;
			&>a{
				font-size: 1rem;
				&:hover {
					text-decoration: none;
					color: $red;
				}
			}
		}
	}
}

.navigationMenu {
	padding: 59px 0 0;
	&>.navOption{
		margin: 0 12px;
		&>a{
			color: rgba(255,255,255,0.6) !important;
			&:hover{
				color: white !important;
				text-decoration: none;
				border-bottom: 2px solid $red;
			}	
		}
	}
}


/*For screens between 320px and 768px*/
@media screen and (min-width: 320px) and  (max-width: 767px) {
	.header{
		&>h1{
			max-width: 250px;
			padding-top: 200px;
			margin: auto;
		}
	}
}

/*For screens between 768 and 1199px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.header{
		&>h1{
			padding-top: 340px;
			margin: auto;
		}
		&>h2{
			font-size: 22em;
		}
	}
}
