

/* FONT WEIGHTS*/
.thin{
	font-weight: 100;
}

.light{
	font-weight: 300;
}

.medium{
	font-weight: 500;
}

.bold{
	font-weight: 700;
}

.bold-xl{
	font-weight: 900;
}



/*FONT AND BACKGROUND COLORS*/

.white {
	color: white;
}

.bg-white {
	background-color: white;
}

.black{
	color: black;
}

.bg-black {
	background-color: black;
}


/* POSITIONS */
.relative {
	position: relative !important;
}

.absolute {
	position: absolute !important;
}

.fixed {
	position: fixed !important;
}

.to-bottom {
	bottom: 0 !important;
}

.to-top {
	top: 0 !important;
}

.to-right {
	right: 0 !important;
}

.to-left {
	left: 0 !important;
}



/* ALIGNMENT */
.center {
	text-align: center;
}


/* FULL SIZES */

.full-w {
	width: 100%;
}

.full-h {
	height: 100%;
}

/* MIXINS */
.transition-ease {
	-webkit-transition:all ease-in-out 0.4s;
	-moz-transition:all ease-in-out 0.4s;
	-ms-transition:all ease-in-out 0.4s;
	-o-transition:all ease-in-out 0.4s;
	transition:all ease-in-out 0.4s;
}

.anchor-translate {
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;	
}


/* OTHERS */

.block {
	display: block !important;
}

.inline {
	display: inline-block !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.auto {
	margin: auto !important;
}

.cursor-hand {
	cursor: pointer;
}

.no-border{
	border:none !important;
}

.no-decoration {
	list-style: none;
	text-decoration: none;
}

.no-repeat {
	background-repeat: no-repeat;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/* RESPONSIVE CLASSES*/

.hidden-xs {
	display: block !important; 
}

.hidden-sm {
	display: block !important; 
}

.visible-xs {
	display: none !important;
}

.col-lg-4, .col-sm-4 {
    width: 33.33333333%;
    display: inline-block;
}


/*For screens between 320px and 768px*/
@media screen and (min-width: 320px) and  (max-width: 767px) {
	.hidden-xs {
		display: none !important; 
	}

	.visible-xs {
		display: block !important;
	}

	.col-lg-4 {
    	width: 100%;
	}

	.col-sm-4 {
		width: 100%;
	}
}

/*For screens between 768 and 1199px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.hidden-sm {
		display: none !important; 
	}

	.col-lg-4 {
    	width: 100%;
	}
}
