$icon-font-path: '../fonts/';


@import "blocks/variables";
@import "blocks/utilities";
@import "blocks/base";
@import "blocks/header";
@import "blocks/about-us";
@import "blocks/how-it-works";
@import "blocks/comments";
@import "blocks/footer";


/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
